body {
    background-color: lightgray;
}

#buttondiv {
    text-align: center;
    padding-top: 50px;
}


button:hover {
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24), 0 15px 40px 0 rgba(0, 0, 0, 0.19);
}